@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1; } }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row .col-1-of-2, .row .col-1-of-3, .row .col-2-of-3, .row .col-1-of-4, .row .col-2-of-4, .row .col-3-of-4 {
    float: left; }
    .row .col-1-of-2:not(:last-child), .row .col-1-of-3:not(:last-child), .row .col-2-of-3:not(:last-child), .row .col-1-of-4:not(:last-child), .row .col-2-of-4:not(:last-child), .row .col-3-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.heading-about {
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7));
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text; }
  .heading-about:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-description {
  font-size: 1.5em;
  font-weight: 700; }

.paragraph {
  line-height: 1.5em; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.btn-primary {
  background-color: #0B5ABC;
  color: #fff;
  font-weight: 300; }

.btn-white {
  background-color: #fff;
  color: #565656; }

.btn-animated {
  animation: fadeInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  padding: 5px;
  color: #0B5ABC;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #0B5ABC; }

.btn-text:hover {
  background-color: #0B5ABC;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.photogroup {
  position: relative; }
  .photogroup__photo {
    width: 55%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 10px; }
    .photogroup__photo-1 {
      top: -50px;
      left: 0;
      z-index: 1; }
      .photogroup__photo-1:hover {
        outline: 10px solid #0B5ABC; }
    .photogroup__photo-2 {
      top: 0;
      right: 0;
      z-index: 1; }
      .photogroup__photo-2:hover {
        outline: 10px solid #00C6FF; }
    .photogroup__photo-3 {
      top: 90px;
      left: 100px;
      z-index: 1; }
      .photogroup__photo-3:hover {
        outline: 10px solid #063264; }
    .photogroup__photo:hover {
      transform: scale(1.1) translateY(-5px);
      box-shadow: 0 30px 40px rgbs(#000, 0.6);
      z-index: 10; }
  .photogroup:hover .photogroup__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* Image crop */
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 100%, 0 85vh); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
    .header__logo-box img {
      width: 100px; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 60px; }
  .heading__primary {
    display: block;
    font-size: 1.4em;
    letter-spacing: 30px;
    animation: fadeInLeft 1.5s ease-out; }
  .heading__tagline {
    display: block;
    letter-spacing: 13px;
    font-size: 0.65em;
    animation: fadeInRight 1.5s ease-out; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 3em;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7));
    margin-bottom: 20px; }
  .feature-box__headline {
    text-transform: uppercase;
    min-height: 50px; }
  .feature-box__paragraph {
    font-weight: 300;
    min-height: 150px; }
  .feature-box:hover {
    transform: translateY(-30px) scale(1.1); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  width: 90%;
  display: block;
  border: none;
  border-bottom: 3px solid transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 1.2rem 1.5rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #0B5ABC;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #EF1721; }

.form__label {
  font-size: 0.7em;
  margin: 0.5rem 0 0 1.5rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px); }

#about {
  background-color: #eee;
  padding: 15rem 0;
  margin-top: -10vh; }

#features {
  padding: 20rem 0;
  background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7)), url("../img/features.jpg");
  background-size: cover; }

#booking {
  padding: 15rem 0;
  background-image: linear-gradient(120deg, #00C6FF, #0B5ABC); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/form.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  height: 40rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }

.footer {
  background-color: #222; }
  .footer__logo-box {
    text-align: center;
    padding: 5rem; }
  .footer__logo {
    width: 150px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #565656;
  padding: 30px; }

.center-text {
  text-align: center; }

.margin-bottom-large {
  margin-bottom: 8rem; }

.margin-bottom-medium {
  margin-bottom: 3rem; }

.margin-bottom-small {
  margin-bottom: 0.5rem; }

.margin-top-large {
  margin-top: 8rem; }

.margin-top-medium {
  margin-top: 3rem; }
