@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1; } }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.btn-white {
  background-color: #fff;
  color: #565656; }

.btn-animated {
  animation: fadeInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  padding: 5px;
  color: #0B5ABC;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #0B5ABC; }

.btn-text:hover {
  background-color: #0B5ABC;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row .col-1-of-2, .row .col-1-of-3, .row .col-2-of-3, .row .col-1-of-4, .row .col-2-of-4, .row .col-3-of-4 {
    float: left; }
    .row .col-1-of-2:not(:last-child), .row .col-1-of-3:not(:last-child), .row .col-2-of-3:not(:last-child), .row .col-1-of-4:not(:last-child), .row .col-2-of-4:not(:last-child), .row .col-3-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.heading-about {
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7));
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text; }
  .heading-about:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-description {
  font-size: 1.5em;
  font-weight: 700; }

.paragraph {
  line-height: 1.5em; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.photogroup {
  position: relative; }
  .photogroup__photo {
    width: 55%;
    box-shadow: 0 15px 40px gray;
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 10px; }
    .photogroup__photo-1 {
      top: -50px;
      left: 0;
      z-index: 1; }
      .photogroup__photo-1:hover {
        outline: 10px solid #0B5ABC; }
    .photogroup__photo-2 {
      top: 0;
      right: 0;
      z-index: 1; }
      .photogroup__photo-2:hover {
        outline: 10px solid #00C6FF; }
    .photogroup__photo-3 {
      top: 90px;
      left: 100px;
      z-index: 1; }
      .photogroup__photo-3:hover {
        outline: 10px solid #063264; }
    .photogroup__photo:hover {
      transform: scale(1.1) translateY(-5px);
      box-shadow: 0 25px 40px #999999;
      z-index: 10; }
  .photogroup:hover .photogroup__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* Image crop */
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 100%, 0 85vh); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
    .header__logo-box img {
      width: 200px; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 60px; }
  .heading__primary {
    display: block;
    font-size: 1.8em;
    letter-spacing: 32px;
    animation: fadeInLeft 1.5s ease-out; }
  .heading__tagline {
    display: block;
    letter-spacing: 14px;
    font-size: 0.7em;
    animation: fadeInRight 1.5s ease-out; }

.about {
  background-color: #eee;
  padding: 15rem 0;
  margin-top: -10vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #565656;
  padding: 30px; }

.center-text {
  text-align: center; }

.margin-bottom-large {
  margin-bottom: 8rem; }

.margin-bottom-small {
  margin-bottom: 0.5rem; }
