/* Contents

    1 Default setup
    2 Animations
    3 Buttons
    4 Header elements
    5

*/
/* 1 DEFAULT SETUP
==================================================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  padding: 30px; }

/* 2 ANIMATIONS
==================================================================================================*/
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1; } }

/* 3 BUTTONS
==================================================================================================*/
.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.btn-white {
  background-color: #fff;
  color: #565656; }

.btn-animated {
  animation: fadeInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

/* 4 HEADER ELEMENTS
==================================================================================================*/
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(120deg, #063264, rgba(0, 198, 255, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* Image crop */
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 100%, 0 85vh); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
    .header__logo-box img {
      width: 200px; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 60px; }
  .heading__primary {
    display: block;
    font-size: 1.8em;
    letter-spacing: 32px;
    animation: fadeInLeft 1.5s ease-out; }
  .heading__tagline {
    display: block;
    letter-spacing: 14px;
    font-size: 0.7em;
    animation: fadeInRight 1.5s ease-out; }
