/* Contents

    1 Default setup
    2 Animations
    3 Buttons
    4 Header elements
    5

*/

/* 1 DEFAULT SETUP
==================================================================================================*/
$color-primary: #0B5ABC;
$color-primary-dark: #063264;
$color-primary-light: #00C6FF;
$color-text: #565656;

$color-white: #fff;
$color-black: #000;

$font-extra-light: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: $font-regular;
    color: $color-text;
    padding: 30px;
}


/* 2 ANIMATIONS
==================================================================================================*/
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
    }
}

/* 3 BUTTONS
==================================================================================================*/
.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 100px;
        transition: all 0.2s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 12px rgba( $color-black, 0.2);
    }

    &:active {
        transform: translateY(-1px);
    }

    &-white {
        background-color: $color-white;
        color: $color-text;
    }

    &-animated {
        animation: fadeInBottom 1s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}



/* 4 HEADER ELEMENTS
==================================================================================================*/
.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
            120deg,
            $color-primary-dark,
            rgba($color-primary-light, 0.7)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;

    /* Image crop */
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 100%, 0 85vh);

    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;

        img {
            width: 200px;
        }
    }

    &__text-box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


.heading {
    color: $color-white;
    text-transform: uppercase;
    font-weight: $font-regular;
    margin-bottom: 60px;

    &__primary {
        display: block;
        font-size: 1.8em;
        letter-spacing: 32px;
        animation: fadeInLeft 1.5s ease-out;
    }

    &__tagline {
        display: block;
        letter-spacing: 14px;
        font-size: 0.7em;
        animation: fadeInRight 1.5s ease-out;
    }
}


