@import 'util/variables';
@import 'util/mixins';
@import 'util/animations';
@import 'util/grid';
@import 'util/typography';

@import 'components/buttons';
@import 'components/photogroup';
@import 'components/header';
@import 'components/feature-box';
@import 'components/form';
@import 'components/sections';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: $font-regular;
    color: $color-text;
    padding: 30px;
}

.center-text {
    text-align: center;
}

.margin-bottom-large {
    margin-bottom: 8rem;
}

.margin-bottom-medium {
    margin-bottom: 3rem;
}

.margin-bottom-small {
    margin-bottom: 0.5rem;
}

.margin-top-large {
    margin-top: 8rem;
}

.margin-top-medium {
    margin-top: 3rem;
}
