@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
    }
}
