.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
            120deg,
            $color-primary-dark,
            rgba($color-primary-light, 0.7)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;

    /* Image crop */
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 100%, 0 85vh);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        img {
            width: 10rem;
        }
    }

    &__text-box {
        @include absoluteCenter;

        text-align: center;
    }
}

.heading {
    color: $color-white;
    text-transform: uppercase;
    font-weight: $font-regular;
    margin-bottom: 6rem;

    &-primary {
        display: block;
        font-size: 6rem;
        letter-spacing: 3rem;
        animation: fadeInLeft 1.5s ease-out;

        @include respond(phone) {
            letter-spacing: 1.5rem;
            font-size: 5rem;
        }
    }

    &-tagline {
        display: block;
        letter-spacing: 1.3rem;
        font-size: 2.5rem;
        animation: fadeInRight 1.5s ease-out;

        @include respond(phone) {
            letter-spacing: 0.5rem;
            font-size: 2rem;
        }
    }
}
