section {
    font-size: 2rem;
    padding: 15rem 0;  
}

#about {
    background-color: $color-grey-light;
    margin-top: -10vh;
    padding: 22rem 0 14rem 0;

    @include respond(phone) {
        padding: 15rem 0 13rem 0;
    }
}

#features {
    background-image: linear-gradient(
            120deg,
            $color-primary-dark,
            rgba($color-primary-light, 0.7)),
        url('../img/features-small.jpg');
    background-size: cover;

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rem) {
        background-image: linear-gradient(
            120deg,
            $color-primary-dark,
            rgba($color-primary-light, 0.7)),
        url('../img/features.jpg');
    }

    @include respond(tab) {
        padding: 10rem 0;
    }
}

#tours {
    background-color: $color-grey-light;

    @include respond(tab) {
        padding: 10rem 0;
    }
}

#stories {
    position: relative;

    @include respond(tab) {
        padding: 10rem 0;
    }
}

#booking {
    background-image: linear-gradient(
            120deg,
            $color-primary-light,
            $color-primary);

    @include respond(tab) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 50%,
        transparent 50%),
        url('../img/form.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba($color-black, 0.2);

    @include respond(tabLand) {
        background-image: linear-gradient(
            105deg,
            rgba($color-white, 0.9) 0%,
            rgba($color-white, 0.9) 65%,
            transparent 65%),
            url('../img/form.jpg');
    }

    @include respond(tab) {
        background-image: linear-gradient(105deg,
            rgba($color-white, 0.9) 0%,
            rgba($color-white, 0.9) 100%),
            url('../img/form.jpg');
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tabLand) {
            width: 65%;
        }

        @include respond(tab) {
            width: 100%;
        }
    }
}


