.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-horizontal;
    }

    @include clearfix;

    %col {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(screen) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        @include respond(screen) {
            width: 40% !important;
            margin: 0 5%;
        }

        @include respond(phone) {
            width: 90% !important;
            margin: 0 5%;
        }
    }

    .col-1-of-2 {
        @extend %col;
        width: calc((100% - #{$gutter-horizontal}) / 2);

        @include respond(tab) {
            width: 90% !important;
        }
    }

    .col-1-of-3 {
        @extend %col;
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        @extend %col;
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        @extend %col;
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        @extend %col;
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        @extend %col;
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }
}
