// COLORS
$color-primary: #0B5ABC;
$color-primary-dark: #063264;
$color-primary-light: #00C6FF;

$color-grey-light: #eee;

$color-text: #565656;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-extra-light: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// GRID
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
